.social-share {
  flex-grow: 1;
  align-self: stretch;
  text-align: right;
  &.float-right{
    display: inline-block;
    float: right;
  }
  & a.social-icon{
    display: inline-block;
    font-size: 21px;
    color: #333;
    cursor: pointer;
    text-decoration: none;

    &:hover{
      olor: #000;
    }
  }
}
