.container
  .row
    if people
      - var x = people.email || q;
      form.col.s12(action="/people")
        .input-field.col.s6.offset-s2
          i.mdi-action-perm-identity.prefix
          input#icon_prefix.validate(type="text" name="q" value="#{x}")
          label(for="icon_prefix") someone@something.com
    else if company
      - var x = company.domain || q;
      form.col.s12(action="/companies")
        .input-field.col.s6.offset-s2
          i.mdi-communication-business.prefix
          input#icon_prefix.validate(type="text" name="q" value="#{x}")
          label(for="icon_prefix") something.com
    else
      form.col.s12(action="/")
        .input-field.col.s6.offset-s2
          i.mdi-content-redo.prefix
          input#icon_prefix.validate(type="text" name="q")
          label(for="icon_prefix") email or domain or URL