@import "vendor/materialize";

html, body{
  cursor: default;
}

.container.min-height{
  min-height: 300px;

  & .avatar{
    width: 120px;
    height: 120px;
    background: transparent url(/images/bg/transparent.gif) no-repeat center center;
    background-size: cover;
  }
}

p.clear-both{
  clear: both;
}

ul.collection.feed-list{
  margin-top: 20px;
  border: none;

  & li.collection-item.feed-entry{
    padding: 12px 0px 5px;
    border-bottom: outset 1px #ccc;

    & a.title{
      font: 500 21px 'Droid Serif Bold', serif;
    }
    & p.intro{
      font: 500 italic 15px 'Droid Serif Italic';
    }
    & p.summary{
      font: 500 italic 15px sans-serif;
      color: #666;
    }

    & p.intro{
      .date-time{
        margin-left: 10px;
      }
    }
  }
}

.list-empty{
  text-align: center;
  padding: 90px 0px 50px;
  & span.message{
    font: 500 19px 'Droid Serif Bold';
    padding: 5px 10px;
    background-color: #ffa;
  }
  & .mickey{
    margin: 80px 0px 20px;
    text-align: center;
  }
}
p.pagination{
  text-align: center;
  & a{
    font-weight: 600;
    color: #600;
    display: inline-block;
    margin: 3px 10px 3px;
    text-decoration: underline;

    &.disabled{
      cursor: default;
      color: #333;
      text-decoration: none;
    }
  }
}
p.clear{
  height: 10px;
}
footer.page-footer{
  clear: both;
}
