body {color:#000;font:500 14px sans-serif;padding:0px;margin:0px;}
.error{position:relative;font:800 65px arial;color:red;}
.error .sha{position:absolute;top:2px;left:3px;z-index:-1;font:800 65px arial;color:#000;}
.message {font:500 15px arial;}
.message p{margin:0px 0px 5px 0px;color:red;font:500 16px arial;}
.message a{font:500 15px arial;}
.message a:link{color:#00f;}
.message a:visited{color:#00f;}
.message a:hover{color:#f0f;}
.path {color:#666;font:500 14px arial;}
table tr td.left{padding-left: 20px;}
