extends layout-clean
block content
  table
    tr
      td.left(width='140')
        span.error 404
          span.sha 404
      td.message
        p=message
        a(href='/') Take me to the homepage!
