extends layout-clean
block content
  table
    tr
      td.left(width='140')
        span.error 500
          span.sha 500
      td.message
        p #{error}
        a(href='/') Take me to the homepage!
