extends layout

block content
  .container.min-height
    .row
      .col.s12
        if company.name
          p
            h1 #{company.name}
  
            if employees.length
              h4 Employees
              ul.collection
                for em in employees
                  li.collection-item
                    a(href="/people/#{em.id}") #{em.name}
        else
          p
            span.message We're sorry, there is not any information about this company.
    .row
      .col.s12
        p
          a(href="/") Get home      