doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='#{meta.description}')
    meta(name='keywords', content='#{meta.keywords}')

    meta(itemprop='description', content='#{meta.description}')
    meta(itemprop='image', content='#{meta.image}')

    meta(property='og:site_name', content='#{meta.name}')
    meta(property='og:title', content='#{meta.title}')
    meta(property='og:url', content='#{meta.url}')
    meta(property='og:creator', content='#{meta.author}')
    meta(property='og:type', content='article')
    meta(property='og:image', content='#{meta.image}')
    meta(property='og:description', content='#{meta.description}')

    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='#{meta.name}')
    meta(name='twitter:creator', content='#{meta.author}')
    meta(name='twitter:url', content='#{meta.url}')
    meta(name='twitter:title', content='#{meta.title}')
    meta(name='twitter:description', content='#{meta.description}')
    meta(name='twitter:image', content='#{meta.image}')
    meta(name='twitter:image:src', content='#{meta.image}')

    meta(name='twitter:widgets:link-color', content='#ff00ff')
    meta(name='twitter:widgets:border-color', content='#ff00ff')
    meta(name='twitter:widgets:csp', content='on')

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{meta.title}
    != css('main')
  body

    include partials/header

    .container
      block content

    != js('main')
