extends layout

block content
  .container.min-height
    .row
      .col.s12
        if people.name
          p 
            h1 #{people.name}
            if people.company && people.company.name
              | Working at 
              a(href="/companies/#{people.company.id}") #{people.company.name}
          p
            if people.avatar
              .avatar.z-depth-1(style="background-image: url(#{people.avatar})")
            if people.bio
              br
              | !{people.bio}
          p
            br
            h5 Social Networks
            if people.twitter
              | &nbsp; 
              a(href="https://twitter.com/#{people.twitter}" target="_blank") Twitter
            if people.linkedin
              | &nbsp; 
              a(href="https://www.linkedin.com/in/#{people.linkedin}") LinkedIn
            if people.facebook
              | &nbsp; 
              a(href="https://www.facebook.com/#{people.facebook}") Facebook
                            
            br
            if coworkers.length
              h5 Co-workers
              ul.collection
                for em in coworkers
                  li.collection-item
                    a(href="/people/#{em.id}") #{em.name}
        else
          p
            span.message We're sorry, there is not any information about this people.
    .row
      .col.s12
        p
          a(href="/") Get home
